table thead tr th select{
	font-weight: normal;
}
.row{
	margin-top: 1em;
}
dl{
	margin-bottom: 0;
}

.filter_label{
	text-align: right;
}
.sub-nav{
	background-color: #f2f2f2;
	padding: 10px 10px 10px 0; 
}
.panel_service{
	border-style: solid;
	border-width: 0 1px 1px 1px;
}
.service{
	border-style: solid;
	border-color: #d8d8d8;
	border-width: 1px 1px 0 1px;
}
.step2{
	visibility: hidden;
}
.step1, .step2{
}
